
body{
    background-color:#f4f4f4;
    color:#555555;
}

*:hover{
color:blue;
}

body{
    margin:0;
}



.title{
    background-color: orange;
    padding-left: 10px;
    
}



.header{
background-color: gray;
}

.header ul{
    padding: 0;
    list-style: none;    
}

.header li{
    display:inline
}

.header a{
    color :white;
    text-decoration: none;
    font-size: 18px;
    padding-right:15px;
}



.footer{
    background-color : gray;
}

.footer ul{
    padding: 0;
    list-style: none;    
}

.footer li{
    display:inline
}

.footer a{
    color :white;
    text-decoration: none;
    font-size: 18px;
    padding-right:15px;
}

.align{
    text-align: center;
}


.mainwindow{
    background-color : lightgrey;
    color:darkslategray
}

